body {
    background-color: #f1f1f1;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

.button-add-new-game {
    animation: fadeIn 0.1s forwards;
    animation-delay: 0.5s;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: greenyellow;
    cursor: pointer;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    opacity: 0; /* Start hidden */
    padding: 10px 10px;
    transition: background-color 0.5s, color 0.5s;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    width: 157px;
}


.button-add-new-game:hover {
    background-color: greenyellow;
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button-and-header {
    position: relative;
}

.container {
    animation: fadeIn 0.1s forwards;
    animation-delay: 0.5s;
    display: flex;
    flex-direction: column;
    margin-top: 10x;
    opacity: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h1 {
    color: green;
    font-family: 'Algerian', sans-serif;
    font-size: 50px;
    font-weight: normal;
    margin: 25px;
    width: 100%;
}

.table {
    border-collapse: collapse;
    margin: auto;
    width: auto;
}

td.investigators-column, td.players-column {
    text-align: left;
}

td, th {
    border: 2px solid black;
    padding: 5px;
}

th {
    color: green;
}

.victory-no {
    color: red;
}

.victory-yes {
    color: green;
    font-weight: bold;
}