body {
    background-color: #f1f1f1;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    translate: 0% -125%;
}

.button-add-new-game {
    animation: fadeIn 0.1s forwards;
    animation-delay: 1s;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: greenyellow;
    cursor: pointer;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    padding: 10px 10px;
    transition: background-color 0.5s, color 0.5s;
    width: fit-content;
}

.button-add-new-game:hover {
    background-color: greenyellow;
    color: black;
}

.button-and-table {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    color: green;
    font-family: 'Algerian', sans-serif;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
}

input, textarea {
  
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

label {
    font-weight: bold;
}

.page-container {
    align-items: center;
    animation: fadeIn 0.1s forwards;
    animation-delay: 1s;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.table {
}

table {
    border-collapse: collapse;
}

td.investigators-column, td.players-column {
    text-align: left;
}

td, th {
    border: 2px solid black;
    padding: 5px;
}

th {
    color: green;
}

.victory-no {
    color: red;
}

.victory-yes {
    color: green;
    font-weight: bold;
}